.shopnow {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.shop-now-container {
  position: relative;
  width: 70rem;
  height: 30rem;
  background-color: rgb(10, 10, 10);
  overflow: hidden;
}

.cursor-follower {
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}
